.footer-container {
  background-color: #fff;
  padding: 4rem 0 2rem 0;
  width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}

/* Social Icons */
.social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-logo {
  color: #000;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-self: center;
}

.social-icons a img {
  width: 30px;
  margin-right: 20px;
}

.footer-logo a {
  font-size: 1.2em;
  line-height: 30px;
  font-weight: 500;
}

.footer-logo a img {
  width: 30px;
  margin-right: 20px;
}

.footer-logo .social-logo span {
  font-weight: bold;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-link-wrapper {
    flex-direction: column;
  }

  .social-media-wrap {
    flex-direction: column;
  }
}
