.footer-container {
  border-top: 1px solid #eee;
  margin: 0 auto;
  padding: 50px 0;
}

/* Social Icons */
.social-media {
  display: flex;
  align-items: center;
}

.social-icons {
  margin: 0 auto;
}

.social-icons a img {
  width: 30px;
  margin: 0 20px;
}
