.hero-container {
  padding: 100px 0 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.hero-container > img {
  width: 120px;
}

.hero-container > h2 {
  padding: 25px 0;
  font-size: 1.5em;
  letter-spacing: -1px;
}

.hero-container h2 img {
  width: 20px;
}

.hero-container h1 {
  --offset: 400px;
  font-size: 5em;
  letter-spacing: -1px;
  text-align: center;
}

.hero-container h1 span {
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/spectrum.svg);
  background-repeat: repeat-x;
  background-size: 100vw 0.2em;
  background-position: left bottom 5px;
  background-position-x: var(--scrollPos);
}

.hero-container h1 span:nth-of-type(2) {
  background-position-x: calc(var(--offset) + var(--scrollPos));
}

.hero-container > p {
  margin: 40px 0;
  color: #000;
  font-size: 1.2em;
  text-align: center;
  line-height: 25px;
}

.hero-container > p > span {
  font-weight: bold;
}

.resume-btn {
  display: block;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 20px 40px;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.resume-btn:hover {
  background: #fff;
  color: #242424;
  transition: all 0.3s ease-out;
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .hero-container {
    max-width: 80%;
    margin: 0 auto;
  }

  .hero-container > h1 {
    font-size: 70px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 50px;
    text-align: center;
  }

  .hero-container > p {
    font-size: 1em;
  }
}
